<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Books!</title>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>



  <div class="nav-header menu-wrapper">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://www.andersonholderness.com">
            <img class="img-responsive nav-logo" src="/img/fly-pig-serious-icon.png">
          </a>
          <div class="appTitle navbar-left">BK LST</div>
          <button type="button" class="navbar-right navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="true">
          <ul class="nav navbar-nav navbar-right">
          <$ if ( user ) { $>
            <li>
              <h2>Hello, <$= user $> </h2>
            </li>
            <li>
              <a href="/logout" class="add-book-btn">Logout</a>
            </li>
          <$ } else { $>
            <li>
              <a href="/register" class="add-book-btn">Register</a>
            </li>
            <li>
              <a href="/login" class="add-book-btn">Login</a>
            </li>
          <$ } $>
<!--             <li>
               <a href="#logout" id="logout" class="add-book-btn">logout</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
  </div>






  <$ if ( user ) { $>
    <div id="page-content">sdfgsdfg</div>
  <$ } else { $>
    <div id="please-login"></div>
  <$ } $>





  <script id="libraryTemplate" type="text/template">
    <div class="row">
      <div class="container center-block">


<!-- sort by  -->
        <div class="sort-by-container">
            <ul class="list-unstyled">
              <li class="sort-by btn-group">
                <button class="btn btn-small">Sort By</button>
                <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#/title">Title</a></li>
                  <li><a href="#/author">Author</a></li>
                  <li><a href="#/dateCompleted">Date Completed</a></li>
                </ul>
              </li>
              <li>
                <a href="#" class="sort-by"
                    id="addBook"
                    data-toggle="modal"
                    data-target="#addBookModal"><button class="btn btn-small">Add Book</button></a>
              </li>
            </ul>
        </div>

<!-- create book modal -->
        <div class="modal fade" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="addBookModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="addBookModalLabel">New Book!</h4>
              </div>
              <div class="modal-body">
                <div id="books">
                  <div id="imageCoverUpload">
                    <img src="" alt="" id="uploadedImage">
                    <form id="uploadCoverForm" method="post" action="/api/cover" enctype="multipart/form-data">
                      <input type="file" id="coverImageUpload" name="coverImageUpload">
                    </form>
                    <div id="status"></div>
                  </div>
                  <form action="#" method="post" id="addBook">
                    <div>
                      <input type="hidden" id="coverImage"/>
                      <label for="title">Title: </label>
                      <input type="text" id="title"/>
                      <label for="author">Author: </label>
                      <input type="text" id="author"/>
                      <label for="dateCompleted">Completed: </label>
                      <input type="text" id="dateCompleted"/>
                      <label for="keywords">Keywords: </label>
                      <input type="text" id="keywords"/>
<!--                       <label for="stars">Rating: </label>
                      <div class='starrr'></div> -->
                      <button id="add" class="btn btn-primary hidden">Add</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <label for="add" id="addbook-btn" class="btn btn-primary">Save & Close</label>
              </div>
            </div>
          </div>
        </div>


<!-- update book modal -->
        <div class="modal fade" id="editBookModal" tabindex="-1" role="dialog" aria-labelledby="editBookModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="editBookModalLabel">New Book!</h4>
              </div>
              <div class="modal-body">
                <div id="editBooks">
<!--                   <div id="imageCoverUpload">
                    <img src="" alt="" id="uploadedImage" class="updateImage">
                    <form id="uploadCoverForm" method="post" action="/api/cover" enctype="multipart/form-data">
                      <input type="file" id="coverImageUpload" name="coverImageUpload">
                    </form>
                    <div id="status"></div>
                  </div> -->
                  <form action="#" method="put" id="updateBook" class="updateBook">
                    <div>
                      <input type="hidden" class="update-coverImage"/>
                      <label for="title">Title: </label>
                      <input type="text" class="update-title"/>
                      <label for="author">Author: </label>
                      <input type="text" class="update-author"/>
                      <label for="dateCompleted">Completed: </label>
                      <input type="text" class="update-dateCompleted"/>
                      <label for="keywords">Keywords: </label>
                      <input type="text" class="update-keywords"/>
<!--                       <label for="stars">Rating: </label>
                      <div class='starrr'></div> -->
                      <button id="update" class="btn btn-primary hidden">Update</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <label for="update" id="update-btn" class="btn btn-primary">Save & Close</label>
              </div>
            </div>
          </div>
        </div>


 <!-- comment modal -->

        <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="commentModalLabel">Comment</h4>
              </div>
              <div class="modal-body">
                <form action="#" id="commentForm">
                  <button id="comment-update" class="btn btn-primary hidden">Update</button>
                </form>
                <textarea name="comment" id="commentInput" form="commentForm" placeholder="Critique . . ."></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button for="comment-update" type="button" id="comment-update-btn" class="btn btn-primary">Save & Close</button>
              </div>
            </div>
          </div>
        </div>


<!-- booklist -->

        <div id="bookList" class="col-md-12"></div>


      </div>
    </div>

  </script>

 <script id="bookTemplate" type="text/template">
    <div class="col-md-6 bookWrap">
      <div class="bookContainer col-xs-12 col-sm-12 col-md-12">
        <div class="bookImageContainer">
          <img src="<%= coverImage %>" alt="coverImage"/>
        </div>
        <div class="bookItemListContainer">
          <ul>
            <li><%= title %></li>
            <li>by <%= author %></li>
            <li>Completed: <%= $.format.date( new Date( dateCompleted ), 'MMMM yyyy' ) %></li>
            <li>Keywords: &nbsp; <% _.each( keywords, function( keyobj ) { %><%= keyobj.keyword %> <% } ); %></li>
            <li>Rating:&nbsp;&nbsp;<div class='starrr' data-rating="<%= stars %>"></div></li>
          </ul>
        </div>
        <img class="delete" src="img/delete.png">
        <div class="bookInteractionBar">
          <div class="bookUpdated">Last Updated: <%= moment(new Date(created)).fromNow() %></div>
          <button class="bookButton"><a href="#" class="comment"
               data-toggle="modal"
               data-target="#commentModal">Comment</a></button> 
          <button class="bookButton"><a href="#" class="edit"
                data-toggle="modal"
                data-target="#editBookModal">Edit</a></button> 
        </div>
      </div>
    </div>
  </script>

  <script id="loginTemplate" type="text/template">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <div class="well">
          <div class="form-group">
            <label> Name </label>
            <input type="text" class="form-control" id="usernameText" placeholder="Username">
            <input type="text" class="form-control" id="passwordText" placeholder="Password">

            <label class="control-label"> </label>

            <br>
            <a id="signUpBtn" type="button" class="btn btn-primary btn-lg"><span>Sign Up</span></a>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script id="registerTemplate" type="text/template">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <div class="well">
          <div class="form-group">
            <label> Name </label>
            <input type="text" class="form-control" id="usernameText" placeholder="Username">
            <input type="text" class="form-control" id="passwordText" placeholder="Password">

            <label class="control-label"> </label>

            <br>
            <a id="signUpBtn" type="button" class="btn btn-primary btn-lg"><span>Sign Up</span></a>
          </div>
        </div>
      </div>
    </div>
  </script>



  <script src="js/lib/jquery.js"></script>
  <script src="js/lib/jquery-ui.js"></script>
  <script src="js/lib/jquery-dateFormat.min.js"></script>
  <script src="js/lib/jquery.form.min.js"></script>
  <script src="js/lib/autosize.min.js"></script>
  <script src="js/lib/starrr.js"></script>
  <script src="js/lib/moment.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="js/lib/underscore.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="js/models/book.js"></script>
  <script src="js/models/login.js"></script>
  <script src="js/collections/booklist.js"></script>
  <script src="js/views/book.js"></script>
  <script src="js/views/booklist.js"></script>
  <script src="js/views/thumbnail.js"></script>
  <script src="js/views/library.js"></script>
  <script src="js/views/login.js"></script>
  <script src="js/views/register.js"></script>
  <script src="js/routers/router.js"></script>
  <script src="js/app.js"></script>




</body>
</html>